#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}


.square{
  width: 90%;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 20px 20px;
}

.circle{
  margin: 20px;
  height: 100px;
  width: 150px;
  font-size: 15px;
  color: white;
  background-color:rgba(100, 148, 237, 0.844);
}

.nor{
  margin: 20px;
  font-size: 15px;
  color: white;
  background-color:rgba(100, 148, 237, 0.844);
}

